---
const title = 'Astro Recipe Website';
const recipes = Astro.fetchContent('./recipe/*.md')
    .sort((a, b) => a.date.localeCompare(b.date)).slice(0, 5);
---
<!-- HTML Code -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">
    <style lang="scss">
        section {
            display: grid;
            grid-template: '1fr 1fr 1fr 1fr 1fr';
        }
        article {
            padding: 1rem;
            img {
                object-fit: cover;
                width: 100%;
                height: 200px;
                margin-bottom: 0.5rem;
            }
            h3 {
                color: #fff;
            }
        }
    </style>
</head>
<body>
    <h1>All our recipes nicely organised</h1>
    <section>
        {recipes.map(recipe => (
            <article>
                <a href={recipe.url}>
                    <img src={recipe.image} alt={recipe.title} />
                    <h3>{recipe.title}</h3>
                </a>
            </article>
        ))}
    <section>
</body>
</html>
