---
import Nav from '../../../components/Nav.astro';
import Header from '../../../components/Header.astro';
import Recipe from '../../../components/Recipe.astro';
import Pagination from '../../../components/Pagination.astro';
const title = 'Astro Recipe Website';

export function getStaticPaths({paginate}) {
  const filterKeys = ['meal_type', 'course', 'diet', 'main_ingredient'];
  const allRecipes = Astro.fetchContent('./../../recipe/*.md');

  const filters = [...new Set(allRecipes.reduce((curr, recipe) => {
    filterKeys.forEach((key) => {
      if(!recipe[key]) return;
      curr.push(recipe[key]);
    });
    return curr;
  }, []))];

  const slugify = url => ( url.toLowerCase().replace(/[^a-z0-9 -]/g, '').replace(/\s+/g, '-') );

  return filters.map((filter) => {
    const filteredPosts = allRecipes.filter((recipe) => (
      filterKeys.some(key => (
        recipe[key] === filter
      ))
    ));

    return paginate(filteredPosts, {
      params: { slug: slugify(filter) },
      props: { filter },
      pageSize: 5
    });
  });
}
const { page, filter } = Astro.props;
const { params, canonicalURL} = Astro.request;
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">
</head>
<body>
  <Nav />
    <Header title={`All ${filter} Recipes`} text={`Find your perfect ${filter} recipe`} />
    <section class="grid grid-cols-3 py-8">
        {page.data.map(recipe => (<Recipe recipe={recipe} />))}
    </section>
    <Pagination data={page} />
  </body>
</html>